@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* Estilos Globais */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  color: #fff; /* Ajuste para uma cor que contraste com o gradiente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra para melhor legibilidade */
  text-align: center;
  font-size: 25px;
  padding: 100px 20px;
  background: linear-gradient(90deg, #0a0a23, #6e00d7, #ff5a5f, #ffd75f);
  background-size: 300% 300%; /* Para suavizar a transição */
  animation: gradientAnimation 10s ease infinite;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo {
    font-size: 1.5rem;
    padding-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 0.9rem;
}
nav a {
  color: #1d1d1f;
  text-decoration: none;
}

.divulgacao {
  display: inline;
  font-size: 20px;
  letter-spacing: .007em;
}
.escolha {
  text-align: center;
  display: inline;
  color: #6E6E73;
  font-size: 25px;
}
.iphone16 {
  background-color: white;
  max-width: 400px;
  margin: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 35px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}
.iphone16:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.buy-iphone {
  background: #0c9cee;
  color: white;
  border: none;
  border-radius: 20px;
  width: 50%;
  font-size: 16px;
  padding: 15px 20px;
  cursor: pointer;
 
}
.buy-iphone:hover {
  background: #FFFFFF;
  color:#0c9cee;
  opacity: 0.9;
}

