<div class="container">
  <nav class="nav">
    <ul class="nav-list nav-list-mobile">
      <li class="nav-item">
        <div class="mobile-menu">
          <span class="line line-top"></span>
          <span class="line line-bottom"></span>
        </div>
      </li>
      <li class="nav-item">
        <a href="index.html" class="nav-link nav-link-ipuc"></a>
        <p class="text-logo">I Puc</p>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link nav-link-bag"></a>
      </li>
      <li>
        <button>Fazer Login</button>
      </li>
    </ul>

    <ul class="nav-list nav-list-larger">
      <li class="nav-item logo-item">
        <div class="logo-container">
          <a href="index.html" class="nav-link nav-link-ipuc"></a>
          <a href="index.html" class="nav-link text-logo">I Puc</a>
        </div>
      </li>

      <li class="nav-item">
        <a href="index.html" class="nav-link">Início</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Produtos</a>
      </li>
      <li class="nav-item">
        <a href="#aboutUs" class="nav-link">Sobre Nós</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link nav-link-search"></a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link nav-link-bag"></a>
      </li>

      <div class="login-container">
        <li class="nav-item">
          <a class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
          <button class="login-button">Log In</button>
        </li>
      </div>

    </ul>
  </nav>
</div>